// Paleta
$azul-oscuro: #1B3C53;
$azul: #456882;
$beige: #D2C1B6;
$beige-claro: #F9F3EF;
$text: #456882;
$white: #fff;

// Layout
$container: 1100px;
$radius: 12px;
$shadow: 0 1px 0 rgba(27, 60, 83, .03);

// Breakpoints
$bp: (
  lg: 992px,
  md: 768px,
  sm: 576px
);